= form_for(@product) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :image_url
    %br/
    = f.text_field :image_url
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :inventory_quantity
    %br/
    = f.number_field :inventory_quantity
  .actions
    = f.submit
