<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <header>
    <%= render 'layouts/nav' %>
  </header>

  <main>
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>

  <%= render 'layouts/scripts' %>

</body>
</html>
